{% extends "base.html" %}

{% block newpost %}
    <h1>Add A Blog Entry</h1>
    <form method='post' action="/newpost">
        <table>
        <tr>
                <td>
            <label>
                Title for your Blog:</br>
                <input type="text" name='title' value='{{title}}'/>
                <p>{{title_error}}</p>
            </label>
                </td>
            <tr>
                <td>
                    <label>
                            Your New Blog:</br>
                            <textarea name="body" rows="10" cols="50" value='{{body}}'></textarea>
                            <p>{{body_error}}</p>
                    </label>
               </td>
            </tr>
           <tr>
               <td>
                    <input type="submit" value='Add Entry' />
               </td>
           </tr>
        </table>         
    </form>


{% endblock %}