{% extends "base.html" %}

{% block newpost %}
    <h1>Add A Blog Entry</h1>
    <form method='post' action="/blog">
        <table>
            <tr>
                <td>
            <label>
                Title for your Blog:</br>
                <input type="text" name='title'/>
            </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                            <br>Your New Blog:</br>
                            <textarea name="body" rows="10" cols="50">
                            </textarea>
                    </label>
               </td>
           </tr>
           <tr>
               <td>
                    <input type="submit" value='Add Entry' />
               </td>
           </tr>
        </table>         
    </form>


{% endblock %}